<!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->
<div class="main">
  <!-- <div style="width: 800px;"><canvas id="acquisitions"></canvas></div> -->
   <div class="column">
    <div class="row">
      <div style="width: 400px;"><canvas id="credit_score"></canvas></div>
      <div style="width: 400px;"><canvas id="credit_used"></canvas></div>
    </div>
    <div class="row">
      <div style="width: 800px;"><canvas id="credit_cards"></canvas></div>
    </div>
  </div>
</div>


<!-- <script type="module" src="dimensions.js"></script> -->
<script type="module" src="acquisitions.js"></script>
