.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.row {
    display: flex;
    flex-direction: row;
}