<!-- <div style="width: 500px;"><canvas id="dimensions"></canvas></div><br/> -->

<div class="container">
  <div class="sidebar">
    <h1>Bank Data</h1>
    <div class="credits">
      <h2>Credits</h2>
      <p>Ana Paulina Ramos Torres</p>
      <p>Cecilia Gaona Vidales</p>
      <p>Leonardo Paolo Contreras Serrano</p>
    </div>
    <div class="technologies">
      <h2>Techologies used</h2>
      <h4>Frontend</h4>
      <ul>
        <li>Angular - Framework</li>
        <li>Chartjs - Graphs</li>
      </ul>
      <h4>Backend</h4>
      <ul>
        <li>Python</li>
        <li>FastAPI & SQLAlchemy</li>
      </ul>
      <h4>DB</h4>
      <ul>
        <li>MySQL</li>
      </ul>
    </div>
  </div>
  <div class="main">
    <!-- <div style="width: 800px;"><canvas id="acquisitions"></canvas></div> -->
     <div class="column">
      <div class="row">
        <div class="card stat">
          <h1>Users with debt not payed</h1>
          <div>
            <span id="stat_1">N/A</span>
            <p>above $500</p>
          </div>
        </div>
        <div class="card stat">
          <h1>Average credit history</h1>
          <div>
            <span id="stat_2">N/A</span>
            <p>months</p>
          </div>
        </div>
        <div class="card stat">
          <h1>Users with debt not payed</h1>
          <div>
            <span id="stat_3">N/A</span>
            <p>above $1500</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card"><canvas id="occupation_interest"></canvas></div>
      </div>
      <div class="row">
        <div class="card"><canvas id="credit_score"></canvas></div>
        <div class="card"><canvas id="credit_used"></canvas></div>
      </div>
      <div class="row">
        <div class="card"><canvas id="credit_cards"></canvas></div>
      </div>
    </div>
  </div>
</div>

<!-- <script type="module" src="dimensions.js"></script> -->
<script type="module" src="acquisitions.js"></script>
